# Python virtual environment
.venv/
venv/
uv.lock

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# OS-specific files
.DS_Store

# Ignore OLTP database management scripts
oltp_db_*.sh
oltp_db_connect.py 